*.DS_Store
!/__pycache__/
__pycache__/
*.py[cod]
*$py.class
*.pyc
.mypy_cache
.ropeproject

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv

# rclone
rclone/rclone.conf

# Editor Settings
.vscode
