[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh-next/plugins/fzf-tab"]
	path = zsh-next/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
	branch = master
	shallow = true
